{% extends "base.html" %}
{% block title %}{{ just_title }}{% endblock %}
{% block content %}
<h1>Привет, я {{ just_text }}</h1>
<p>
   Я родился в провинции Лангедок в 1668 году. Мой род, хоть ныне и обедневший,
    принадлежит к одним из самых славных и древних семейств королевства.
    Мой отец, граф де Бриссак, сражался в Голландии в полку господина Лаваля,
    был ранен копьем при осаде Монферрата, на стенах которого он первым водрузил королевское знамя.
    До 17 лет я жил в родовом замке, где благодаря заботам моей матушки баронессы де Монжу
    был прилично воспитан и получил изрядное образование. Ныне, расставшись со своими дорогими родителями,
    дабы послужить отечеству на поле брани, прошу зачислить меня в роту чёрных гвардейцев его Величества.
</p>
{% endblock %}